{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
    <div class="login-form">
        <form class="form" method="POST" action="">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter Username">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" value="Login">
        </form>
        <p>Haven't Signed Up yet? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
{% else %}
    <div class="signup-form">
        <form class="form" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        </form>
        <p>Already Signed Up? <a href="{% url 'login' %}">Login</a></p>
    </div>
{% endif %}
{% endblock %}
